
.sub_menu{
  margin: auto;
}

.board{
  width: 100%;
}

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

.menu {
  height: 7%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: #2991d0;
  text-align: center;
  vertical-align: middle;
}


.hamburger-icon{
  width: 50px;
  height: 30px;
  position: absolute;
  z-index: 4;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;

  }

  &__middle {
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;

  }
}

.close-icon{
  height: 5%;
  width: 100%;
  text-align: right;
  cursor: pointer;
  color: white;
  font-size: 60px;
  display: block;
}

.sub_menu {
  position: fixed;
  top: 0;
  left: -303px;
  z-index: 4;
  height: 100%;
  width: 300px;
  background-color: #2991d0;
  text-align: center;
  box-shadow: 0 1px 15px rgba(0,0,0,.8);
  transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
}

.sub_menu ul{
  list-style: none;
}

.open{
  left: 0px;
}

.fm{
  font-size: 30px;
  font-family: nanumgothic;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

html {
  /* Prevent font scaling in landscape */
  -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
  -moz-text-size-adjust: none; /*Firefox*/
  -ms-text-size-adjust: none;  /*Ie*/
  -o-text-size-adjust: none; /*old versions of Opera*/
}

body{
  margin: 0;
}

p input{
  float: right;
}

.button{
  width: 90%;
}

.board,.board th,.board td{border:0}
.board a{color:#383838;text-decoration:none}
.board{width:90%;border-bottom:1px solid #999;color:#666;font-size:17px;table-layout:fixed}
.board caption{text-align: left;font-weight:bold; font-size: 20px; color: black; margin:30px 0 10px 0;}
.board th{padding:5px 0 6px;border-top:solid 1px #999;border-bottom:solid 1px #b2b2b2;background-color:#f1f1f4;color:#333;font-weight:bold;line-height:20px;vertical-align:top}
.board td{padding:8px 0 9px;border-bottom:solid 1px #d2d2d2;text-align:center;line-height:18px;}
.board .date,.board .hit{padding:0;font-family:Tahoma;font-size:15px;line-height:normal}
.board .title{text-align:left; padding-left:15px; font-size:15px;}
.board .title .pic,.board .title .new{margin:0 0 2px;vertical-align:middle}
.board .title a.comment{padding:0;background:none;color:#f00;font-size:12px;font-weight:bold}
//.board tr.reply .title a{padding-left:16px;background:url(첨부파일/ic_reply.png) 0 1px no-repeat}