.menu{
  height: 40px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;

}

.menu ul li{
  list-style: none;
  color: green;
  float: left;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
  margin: 0 36px;
}

  a{
    color: black;
  }
  a:hover{ /*마우스 올렸을떄*/
    background-color: chocolate;
  }
  a:active{ /*마우스 클릭하고있을때*/
    background-color: crimson;
  }
  a:visited{ /*마우스 한번 클릭했을떄*/
    color: blue;
  }

