@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

.menu {
  height: 7%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: #2991d0;
  text-align: center;
  vertical-align: middle;
}
.search {
  height: 5%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: #2991d0;
  text-align: center;
}

.search input{
  font-size: x-large;
  width: 95%;
  height: 85%;
  background-color: #f2f3f5;
  border-width: 0px;
  border-radius: 3px;
}

.hamburger-icon{
  width: 50px;
  height: 30px;
  position: fixed;
  z-index: 4;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;

  }

  &__middle {
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;

  }
}

.sub_menu {
  position: fixed;
  top: 0;
  left: -30%;
  z-index: 4;
  height: 100%;
  width: 30%;
  background-color: #2991d0;
  text-align: center;
  transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
}
.open{
  left: 0px;
}


.fm{
  font-size: 2em;
  margin-left: 10px;
  font-family: nanumgothic;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

html {
  margin-top: 0;
  /* Prevent font scaling in landscape */
  -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
  -moz-text-size-adjust: none; /*Firefox*/
  -ms-text-size-adjust: none;  /*Ie*/
  -o-text-size-adjust: none; /*old versions of Opera*/
}
