.menu {
  height: 8%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: #2991d0;
  text-align: center;
}
.sub_menu {
  height: 4%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: #2991d0;
  text-align: center;
}

.fm{
  font-size: 3em;
  margin-left: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

html {
  /* Prevent font scaling in landscape */
  -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
  -moz-text-size-adjust: none; /*Firefox*/
  -ms-text-size-adjust: none;  /*Ie*/
  -o-text-size-adjust: none; /*old versions of Opera*/
}
